* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

:root {
    --pCardBackground: #0a0a0a71;
}

.cardItem {
    max-width: 500px;
    max-height: 300px;
    height: 50vh;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
}
.cardItem:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: -2px 2px 1px black;
}
.cardItem:hover p {
    font-size: 2rem;
    text-shadow: -2px 2px 2px var(--pCardBackground);
    left: 10%;
    bottom: 10%;
    padding: 10px 30px;
    box-shadow: -3px 3px 10px var(--pCardBackground);
}

.cardItem > p {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    padding-left: 5px;
    font-weight: bold;
    width: 90%;
    background-color: var(--pCardBackground);
}


.scrollAnimation {
    opacity: 0%;
    animation: scrollAnimation linear forwards;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

/* animação ao scrollar a página */

@keyframes scrollAnimation {
    from {
        opacity: 0;
        scale: .5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}


/* background dos cards */

#apiext {
    background: lightcyan url(../assets/img/cardApiext.svg) no-repeat fixed center center / cover;
}

#bancoDeDados {
    background: lightcyan url(../assets/img/cardBancoDeDados.svg) no-repeat fixed center center / cover;
}

#javaPOO {
    background: lightcyan url(../assets/img/cardJavaPOO.svg) no-repeat fixed center center / cover;
}
#moldSistemas {
    background: lightcyan url(../assets/img/cardModelagemDeSistemas.svg) no-repeat fixed center center / cover;
}
#frontEndFW {
    background: lightcyan url(../assets/img/cardFrontEndFrameWorks.svg) no-repeat fixed center center / cover;
}
#webAppDev {
    background: lightcyan url(../assets/img/cardWebAppDev.svg) no-repeat fixed center center / cover;
}


footer > div > a:hover {
    text-decoration: underline !important;
}