<header class="d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="container-fluid d-flex flex-wrap justify-content-start align-items-center row">
        <a href="../pages/index.html" class="col-3">
            <img src="../assets/img/logo-uninassau-dark.png" alt="logo uninassau" class="logo img-fluid my-3" style="max-width: 50vw;">
        </a>
        <h3 class="mb-3 text-center col-12">Turma de ADS 2º semestre</h3>
    </div>
    <span class="spanDarkMode m-3 position-absolute top-0 end-0">
        <input type="checkbox" class="btn-check darkModeBtn" id="btn-check-2" autocomplete="off">
        <label class="text-uppercase" for="btn-check-2"><i class="bi bi-moon p-2 iconeDarkMode"></i></label>
    </span>
</header>