<header class="d-flex flex-column align-items-center justify-content-center position-relative">
    <a href="../pages/index.html" style="width: 35%;">
        <img src="../assets/img/logo-uninassau-dark.png" alt="logo uninassau" class="logo img-fluid mb-3" >
    </a>
    <h3 class="mb-3 text-center">Turma de ADS 2º semestre</h3>
    <span class="spanDarkMode m-3 position-absolute top-0 end-0">
        <input type="checkbox" class="btn-check darkModeBtn" id="btn-check-2" autocomplete="off">
        <label class="text-uppercase" for="btn-check-2"><i class="bi bi-moon p-2 iconeDarkMode"></i></label>
    </span>
</header>