<nav class="navbar navbar-expand-lg container fw-bold">
    <div class="container navContainer">
        <button class="navbar-toggler container" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand p-3" href="#">Matérias</a>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav container justify-content-center p-3">
                <li class="nav-item"><a class="nav-link" href="../pages/apiext.html">APIEXT I </a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/bancoDeDados.html">Banco de Dados</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/javaPOO.html">Java POO</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/modelagemDeSistemas.html">Análise e Modelagem de Sistemas</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/frontEndFrameWorks.html">Front-End FrameWorks</a></li>
                <li class="nav-item"><a class="nav-link" href="../pages/webAppDev.html">Desenv. De Apps Para Web</a></li>
            </ul>
        </div>
    </div>
</nav>